{% extends "page.html" %}

{% block head %}
  <title> Enable Two Factor Authentication </title>
{% endblock %}

{% block content %}
<div class="container">
  <form action="/verify_auth_code" method="POST" role="form"> 
    <div class="form-group">
      <label for="Code">Verification Code</label>
      <input type="text" name="Code" id="Code" class="form-control" value="">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</div>
{% endblock %}