{% extends "page.html" %}

{% block head %}
  <title> Enable Two Factor Authentication </title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2">Scan the QR Code with Google Authenticator and 
        enter the 6 digit code it generates</div>  
    </div>
    <div class="row">
        <div class="col-md-8">
            <form action="/enable_two_factor" method="POST" role="form"> 
                <input type="hidden" name="SecretKey" value="{{model.Key}}">
                <div class="form-group">   
                    <label for="Code">Verification Code</label>        
                    <input type="text" name="Code" id="Code" class="form-control" value="">
                </div>              
                <button type="submit" class="btn btn-primary btn-block">Enable</button>
            </form>
            {% if model.Err != "" %}
                <p class="alert alert-danger">{{model.Err}}</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <img src="{{model.Url}}"/> 
        </div>
    </div>
</div>
{% endblock %}