{% extends "page.html" %}

{% block head %}
  <title> Login </title>
{% endblock %}

{% block content %}
<div class="container">
  {% if model != "" %}
      <p class="alert alert-danger">{{model}}</p>
  {% endif %}
  <form method="POST" action="/login">    
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" id="Username" name="Username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" id="Password" name="Password" class="form-control" required>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
  </form>
</div>
{% endblock %}