{% extends "page.liquid" %}

{% block head %}
  <title> {{model.Username}}'s Profile </title>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Hi {{model.Username}}</h2>
  <div>
    {% if model.is_two_factor_auth_enabled %}
      <a href="/disable_two_factor" class="btn btn-warning">Disable Two Factor Authentication</a>
    {% else %}
      <a href="/enable_two_factor" class="btn btn-success">Enable Two Factor Authentication</a>
    {% endif %}
    <a href="/logout" class="btn btn-default" role="button">logout</a>
  </div>
</div>
{% endblock %}